<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="skinsenor.android.com.loginapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!--&lt;!&ndash;必须放在同一个filter里面&ndash;&gt;-->
                <data
                    android:host="android.com.login"
                    android:path="/login"
                    android:scheme="json" /><!--json://android.com.login/login?type=110 ,type=110为传参-->
                <category android:name="android.intent.category.DEFAULT" /><!--必须要该标签-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<category android:name="android.intent.category.HOME" />-->
            </intent-filter>

        </activity>
    </application>

</manifest>